<% provide(:title, 'About ISO Standards for Yacht Design') %>

<h1>
	Yacht Design Analysis for ISO Standards to meet Recreational Craft Directive (RCD)
</h1>
<h2>
	Open Source
</h2>
<p>
	This application is initially created by 
	<a href="mailto:Capt.David.Smyth@gmail.com?subject=iso-yd">David E. Smyth</a>
	under the MIT License, and therefore is and will remain open source software.
</p>
<h2> 
	Implementation Technology
</h2>
<p>
	This application is implemented using Ruby on Rails, specifically Ruby 2.1.0
	and Rails 4.0.2. 
</p>
<p>
	The development process closely follows that suggested by
	<a href=http://michaelhartl.com/>Michael Hartl]</a> in the
	<a href=http://railstutorial.org/><em>Ruby on Rails Tutorial</em></a>. Hence, RSpec is
	used for test driven development, with Capybara and Selenium for automated
	user testing. Hence it is and will forever remain bug free ;-)
</p>
<hr></hr>
<p>
	Find me in app/views/static_pages/home.html.erb
</p>