<% provide(:title, 'Contact Author of') %>

<div class="hero-unit">

<h1>
	Contact the Author
</h1>
<p>
	This application is initially created by 
	<a href="mailto:Capt.David.Smyth@gmail.com?subject=iso-yd">David E. Smyth</a>
	under the MIT License, and therefore is and will remain open source software.
	If you want information, help, or better yet, to help, or just to chat, feel free to contact
	the author. 
</p>
<p>
	Over time, perhaps more people will help on this project, and the
	set of people to contact will increase.
</p>

<!-- Someone somewhere is adding an extra end-div,
	so while it looks like we need this, we do not!
</div>
-->
