<% provide(:title, 'Home of') %>

<div class="center hero-unit">

<h1>
	Yacht Design Analysis for ISO Standards
</h1>
<h1 class="h1-sub">
	to meet Recreational Craft Directive (RCD)
</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>


</div>

<div class="hero-unit">

<p>
	This application requires that the user have their own copy of each of the
	ISO standards listed below. The signup requires entering the license numbers of your copies of the standards.
</p>


<p>
	This application is intended to be used closely with the ISO standards for
	sailing yacht design, specifically:
</p>

<ul>
	<li>
		ISO 8666 
		<em>
			Small craft -- Principal data
		</em>
	</li>
	<li>
		ISO 11812 
		<em>
			Small craft -- Watertight cockpits and quick draining cockpits
		</em>
	</li>
	<li>
		ISO 12215 
		<em>
			Small craft -- Hull construction and scantlings
		</em>
		<ul>
			<li>
				Part 5: 
				<em>
					Design pressures for monohulls, design stresses, scantlings determination
				</em>
			</li>
			<li>
				Part 6: 
				<em>
					Structural arrangements and details
				</em>
			</li>
			<li> 
				Part 8: 
				<em>
					Rudders
				</em>
			</li>
			<li>
				Part 9: 
				<em>
					Sailing craft appendages
				</em>
			</li>
		</ul>
	</li>
	<li>
		ISO 12216
		<em>
			Small craft -- Windows, portlights, hatches, deadlights and doors -- Strength and watertightness requirments
		</em>
	</li>
	<li>
		ISO 12217 Part 2: 
		<em>
			Small craft -- Stability and buoyancy assessment and categorization -- Sailing boats of hull length greater than or equal to 6m
		</em>
	</li>
</ul>

