<% provide(:title, 'Sign up for') %>

<div class="hero-unit">
<h1>Sign up</h1>
<h2>Users#new</h2>

<!-- Someone somewhere is adding an extra end-div,
  so while it looks like we need this, we do not!
</div>
-->