<% provide(:title, 'User Profile') %>

<div class="hero-unit">
<h2>
<%= @user.name %>, <%= @user.email %>
</h2>

<!-- Someone somewhere is adding an extra end-div,
  so while it looks like we need this, we do not!
</div>
-->