<footer class="footer">
  <small>
    <a href="https://github.com/David-Smyth/iso-yd">iso-yd</a>
    by David Smyth
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/David-Smyth/iso-yd/blob/master/README.md/">News</a></li>
    </ul>
  </nav>
</footer>